{% extends "master.twig" %}

{% block head %}

    {#<!-- Bootstrap -->#}
    {#<link href="css/bootstrap.min.css" rel="stylesheet">#}
    {#<!-- Font Awesome -->#}
    {#<link href="css/font-awesome.min.css" rel="stylesheet">#}
    {#<!-- NProgress -->#}
    {#<link href="css/nprogress.css" rel="stylesheet">#}
    {#<!-- iCheck -->#}
    {#<link href="css/green.css" rel="stylesheet">#}

    {#<!-- Custom Theme Style -->#}
    {#<link href="css/custom.min.css" rel="stylesheet">#}


    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="css/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="css/green.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="css/custom.min.css" rel="stylesheet">
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

    </style>

    {#<script src="js/jquery.js"></script>#}
    <script src="js/bootstrap.js"></script>

{% endblock head %}

{% block title %} Edit Schedule {% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Classes</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <p>Simple table with project listing with progress and editing options</p>

                    <!-- start project list -->
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th style="width: 1%">#</th>
                            <th style="width: 20%">Project Name</th>
                            <th>Team Members</th>
                            <th>Project Progress</th>
                            <th>Status</th>
                            <th style="width: 20%">#Edit</th>
                        </tr>
                        </thead>
                        <tbody>


                        {% for class in classes %}
                            <form action="/editclass" method="get">
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <a>{{ class.name }}</a>
                                        <br />
                                        <small>Instructor Name:
                                        {% for instructor in instructors %}
                                            {% if class.instructorID == instructor.id %}
                                                {{ instructor.name }}
                                            {% endif %}
                                        {% endfor %}
                                        </small>
                                    </td>
                                    <td>
                                        <ul class="list-inline">
                                            <li>
                                                <img src="images/user.png" class="avatar" alt="Avatar">
                                            </li>
                                            <li>
                                                <img src="images/user.png" class="avatar" alt="Avatar">
                                            </li>
                                            <li>
                                                <img src="images/user.png" class="avatar" alt="Avatar">
                                            </li>
                                            <li>
                                                <img src="images/user.png" class="avatar" alt="Avatar">
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="project_progress">
                                        <div class="progress progress_sm">
                                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{ class.currentCapacity }}"></div>
                                        </div>
                                        <small>{{ class.currentCapacity }}% Complete</small>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Success</button>
                                    </td>
                                    <td>
                                        {#<a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>#}
                                        {#<a href="/editclass" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>#}
                                        {#<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>#}
                                        <input type="hidden" value="{{ class.id }}" name="classID">
                                        <button type="button" data-toggle="collapse" data-target="#demo"><i class="fa fa-folder"></i> View Details</button>
                                        {#<div id="demo" class="collapse">#}
                                            {#Lorem ipsum dolor sit amet, consectetur adipisicing elit,#}
                                            {#sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,#}
                                            {#quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.#}
                                        {#</div>#}
                                        <button type="submit" name="edit" value="edit"><i class="fa fa-pencil"></i> Edit</button>
                                        <button type="submit" name="delete" value="delete"><i class="fa fa-trash-o"></i> Delete</button>
                                    </td>
                                </tr>
                            </form>
                            <tr>
                                <td colspan="6">
                                    <div id="demo" class="collapse">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="6" style="border: none;">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Stripped table <small>Stripped table subtitle</small></h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Settings 1</a>
                                                    </li>
                                                    <li><a href="#">Settings 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Duration</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Max. Capacity</th>
                                                <th>Current Capacity</th>
                                                <th>Location</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th scope="row">{{ class.duration }}</th>
                                                <td>{{ class.startTime }}</td>
                                                <td>{{ class.endTime }}</td>
                                                <td>@{{ class.capacity }}</td>
                                                <td>@{{ class.currentCapacity }}</td>
                                                <td>@{{ class.location }}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </td>
                        </tr>



                        </tbody>
                    </table>
                    <!-- end project list -->

                </div>
            </div>
        </div>
    </div>

    {#<script>jQuery.noConflict();</script>#}
    {#<!-- jQuery -->#}
    {#<script src="js/jquery.min.js"></script>#}
    {#<script>jQuery.noConflict();</script>#}
    {#<!-- Bootstrap -->#}
    {#<script src="js/bootstrap.js"></script>#}
    {#<script>jQuery.noConflict();</script>#}
    {#<!-- FastClick -->#}
    {#<script src="js/fastclick.js"></script>#}
    {#<script>jQuery.noConflict();</script>#}
    {#<!-- NProgress -->#}
    {#<script src="js/nprogress.js"></script>#}
    {#<!-- bootstrap-progressbar -->#}
    {#<script>jQuery.noConflict();</script>#}
    {#<script src="js/bootstrap-progressbar.min.js"></script>#}
    {#<script>jQuery.noConflict();</script>#}
    {#<!-- Custom Theme Scripts -->#}
    {#<script src="js/custom.min.js"></script>#}


    <script>
        jQuery(document).ready(function() {
            console.log("HIII");

//            jQuery('.x_content').toggle();

            jQuery('.collapse-link').click(function() {
                var $BOX_PANEL = jQuery(this).closest('.x_panel'),
                        $ICON = jQuery(this).find('i'),
                        $BOX_CONTENT = $BOX_PANEL.find('.x_content');

                if ($BOX_PANEL.attr('style')) {
                    $BOX_CONTENT.slideToggle(200, function(){
                        $BOX_PANEL.removeAttr('style');
                    });
                } else {
                    $BOX_CONTENT.slideToggle(200);
                    $BOX_PANEL.css('height', 'auto');
                }

                $ICON.toggleClass('fa-chevron-down');
                $ICON.toggleClass('fa-chevron-up');


            })  ;

            jQuery('.close-link').click(function () {
                var $BOX_PANEL = jQuery(this).closest('.x_panel');

                $BOX_PANEL.remove();
            });
        });
    </script>





<!-- jQuery -->
{#<script src="js/jquery.min.js"></script>#}
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="js/fastclick.js"></script>
<!-- NProgress -->
<script src="js/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script>jQuery.noConflict();</script>
<script src="js/bootstrap-progressbar.js"></script>

<!-- Custom Theme Scripts -->
<script>jQuery.noConflict();</script>
<script src="js/custom.min.js"></script>




{% endblock content %}

{% block info %}
{{ include('info.twig') }}
{% endblock info %}

